.rodape{

    display: none;
}
    






@media screen and (min-width: 1024px){
.rodape{
    display: flex;
    justify-content: space-around;
}

.rodape__titulo{
    font-size: 36px;
    font-weight: 400;
}

.rodape__titulo__lista{
    font-size: 14px;
    font-weight: 400;
    color: var(--branco-gelo);
    bottom: 2em;
    align-items: center;
    
}

.rodape__item {
       display: flex;
       align-items: center;
       gap: 4px;
       margin: 1em 0;
    }


.rodape__link{
    text-decoration: none;
    color: var(--branco-gelo);
    margin-left: 0.6em;
}
}
@media screen and (min-width: 1728px){

    .rodape__lista{
        border-left: 1px solid var(--branco-gelo);
        padding-left: 1em;
    }
}