.cabeçalho__menu-hamburguer{
    width: 28px;
    height: 28px;
    background-image: url("/projeto003/assets/img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin-left: 0.5em;
}

.cabeçalho{
    background-color: var(--branco);
    display:flex ;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container_imagem{
    padding: 1em;
    
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.container__botao:checked ~ .container__rotulo > .cabeçalho__menu-hamburguer{
    background-image: url("/projeto003/assets/img/Menu Aberto.svg");
    
    
}

.container__botao:checked ~ .container__rotulo{
    background: var(--azul);
    width: 3em;
    height: 2.5em;
}


.lista-menu__titulo,.lista-menu__item{
    padding: 1em;
    background-color: var(--branco);

}
.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
    
}
.lista-menu__link{
    color: var(--azul);
    text-transform: uppercase;


}
.container__botao{
    display: none;
}

.container__titulo{
    display: none;
}

.opcoes{
    display: none;
}

.container__texto{
    display: none;
}

@media screen and (min-width: 1024px) {

    .container__titulo, .container__titulo--negrio{
        font: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito{
        font-weight: 700;
    }
  
    .opcoes{
        display: flex;
    }

    .opcoes__itens{ 
        padding: 1em;
        text-transform: uppercase;
    }

    .opcoes__link{
        text-decoration: none;
        color: var(--pretao);
        font-family: var(--Poppins);
        font-weight: 400;
    }

    .container__imagem--transparente{
        display: none;
    }

    .cabeçalho__menu-hamburguer{
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu{
        display: block;
        width: auto;
        
    } 

    .opcoes__botao{
        display: none;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__itens{
        background: var(--azul-degrade);
        color: var(--branco);

    }

    .lista-menu__item:hover{
        background: var(--azul-degrade);
        
    }

    .lista-menu__item:hover > .lista-menu__link{
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }
    
}

@media screen and (min-width: 1728px){

.container__link{
    display: flex;
    align-items: center;
    padding: 0.5em;
    text-decoration: none;
    color: var(--pretao);
    
}

.cabeçalho{
    padding: 0 1em;
}

.opcoes{
    display: flex;
    margin-right: auto;
    padding-left: 2em;
}

.container__texto{
    display: block;
}


}